.animateMove{
  animation-name: moveRight;
  animation-duration: 6.5s;
  animation-fill-mode: forwards;
  -webkit-animation-name: moveRight;
  -webkit-animation-duration: 6.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes moveRight{
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes moveRight{
  0% {-webkit-opacity: 0}
  100% {-webkit-opacity: 1}
}