* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, html {
  height: 100%;
  background-color: #555;
}

.container {
  width: 100%;
  height: 100%;
}

section {
  min-height: 100vh;
}

/* Reusables */

.gridCenter {
  display: grid;
  place-items: center;
}

.text-center {
  text-align: center;
}

.sub-title {
  padding: 10px;
  background-color: white;
  color: black;
  border-top: 3px rgb(179, 0, 0) solid;
  border-bottom: 3px rgb(179, 0, 0) solid;
}

/* Scroller */

.scroller {
  position: fixed;
  bottom: 50px;
  left: 50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
}

/* About Section */

#landing {
  background: url("../images//backgrounds/space2.jpg");
  background-size: cover;
  background-position: center center;
}

.about {
  width: 50%;
  min-width: 350px;
  padding: 20px;
  position: relative;
  top: -10vh;
  border-radius: 15px;
  transition: all, .25s;
  letter-spacing: 1.5px;
  cursor: inherit;
  box-shadow: 0 0 0 0 white;
  background-color: transparent;
  color: rgb(179, 0, 0);
  border: .25px rgb(124, 124, 124) solid;
}

.about:hover, .about:active {
  background-color: rgba(20, 42, 90, 0.932);
  color: white;
  box-shadow: 0 0 110px 100px white;
  transition: all, .25s;
}

/* Tech Section */

#technology{
  background: linear-gradient(177deg, black, #111, #222, #9AC1E0)
}



#techArea {
  width: 205px;
  min-height: 415px;
  margin: 4em auto;
  position: relative;
}

.flyer {
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 5px;
  display: grid;
  place-items: center center;
  overflow: hidden;
  background-color: white;
}

.flyer-img{
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: all, 1s;
}

.flyer:hover .flyer-img{
  transform: rotateY(180deg) translateZ(-30px);
  transition: all, 1s;
}


/* ------------------------------------------------------------ */

/* #htmlFlyer{
  top: 0;
  left: 0;
}

#cssFlyer{
  top: 0;
  left: 105px;
}

#jsFlyer{
  top: 105px;
  left: 0;
}

#reactFlyer{
  top: 105px;
  left: 105px;
}

#nodeFlyer{
  top: 210px;
  left: 0;
}

#expressFlyer{
  top: 210px;
  left: 105px;
}

#mongoDBFlyer{
  top: 315px;
  left: 0;
}

#mySQLFlyer{
  top: 315px;
  left: 105px;
} */

#htmlFlyer{
  animation-delay: 0s;
  z-index: 5;
}

#cssFlyer{
  animation-delay: 0s;
  z-index: 5;
}

#jsFlyer{
  animation-delay: 2.5s;
  z-index: 4;

}

#reactFlyer{
  animation-delay: 2.5s;
  z-index: 4;

}

#nodeFlyer{
  animation-delay: 5s;
  z-index: 3;

}

#expressFlyer{
  animation-delay: 5s;
  z-index: 3;

}

#mongoDBFlyer{
  animation-delay: 7.5s;
  z-index: 2;

}

#mySQLFlyer{
  animation-delay: 7.5s;
  z-index: 2;

}


.left-animation{
  animation-name: rollLeft;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: rollLeft;
  -webkit-animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.right-animation{
  left: 105px;
  animation-name: rollRight;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: rollRight;
  -webkit-animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@keyframes rollLeft{
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(-105px, 0)}
  50% {transform: translate(-105px, 315px)}
  75% {transform: translate(0, 315px)}
}

@-webkit-keyframes rollLeft{
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(-105px, 0)}
  50% {transform: translate(-105px, 315px)}
  75% {transform: translate(0, 315px)}
}

@keyframes rollRight{
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(105px, 0)}
  50% {transform: translate(105px, 315px)}
  75% {transform: translate(0, 315px)}
}

@-webkit-keyframes rollRight{
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(105px, 0)}
  50% {transform: translate(105px, 315px)}
  75% {transform: translate(0, 315px)}
}

/* ------------------------------------------------------------ */

.move-back {
  border: 1px black solid;
  background-color: #555;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.move-back:hover {
  background-color: white;
  color: black;
  transition: all, .25s;
}

.move-back:active {
  transform: scale(.9);
  transform: all, .25s;
}

.move-back:focus {
  outline: none;
}


#portfolio {
  background: url("../images/backgrounds/sky2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 100px;
}

#projectArea {
  padding-top: 50px;
}

.project {
  position: relative;
  padding: 50px 20px;
  width: 100%;
  background-color: rgba(68, 68, 68, 0.89);
  color: white;
  margin-bottom: 100px;
  left: -100%;
}

.left-trap{
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
}

.right-trap{
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 89%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 89%);
}

.project-img {
  max-width: 500px;
  width: 55%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  border: 1px white solid;
}

.project-wrapper {
  width: 70%;
  min-width: 310px;
  margin: 0 auto;
  padding: 15px 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-project {
  width: 40%;
}

.still {
  display: none;
}

.content {
  margin-top: 1em;
  padding: 5px;
  padding-top: 0;
}

.link-area {
  width: fit-content;
  margin: 0 auto;
}

.link-area a {
  color: white;
}

/* Contact */

#contact{
  background: url("../images/backgrounds/space2.jpg");
  background-size: cover;
}

.contactBox{
  height: calc(100vh - 54.8px);
}

.contactInfo{
  background-color: rgba(255, 255, 255, 0.897);
  position: relative;
  top: -50px;
  padding: 35px;
  border-radius: 15px;
}

.link-contact{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contactIcon{
  width: 50px;
  height: auto;
}

/* ScrollBar */

::-webkit-scrollbar {
  background: #111;
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: darkred;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: #333;
}

@media (max-width: 1000px) {
  .project-wrapper{
    flex-direction: column;
  }

  .project-img, .right-project{
    width: 100%;
  }
}

@media (max-width: 450px) {
  .project{
    left: 0;
    opacity: 0;
  }

  .move-back{
    display: none;
  }

  .about{
    transform: scale(.8)
  }

  .flyer{
    transform: scale(.90);
  }
}